@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

.generateSection {
  text-align: center;
  padding-top: 2em;
}
#target {
  width: 100%;
}
.outputContent {
  position: relative;
  margin: 1em auto;
  width: 90%;
  text-align: center;
}
#genedMeme {
  display: flex;
  justify-content: center;
}
.memeText {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
  margin: 0;
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  padding: 0.5em;
}
.top {
  position: absolute;
  top: 1px;
}
.bottom {
  position: absolute;
  bottom: 1px;
}
.saveButton,
.customUpload {
  margin-top: 20px;
  padding: 15px;
  width: 150px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #006400;
  color: #fff;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
input[type="file"] {
  display: none;
}
.saveButton:hover,
.customUpload:hover {
  background-color: #e9f7ec;
  color: #000;
}
label {
  margin-top: 10px;
}
input {
  margin: 15px;
}

#topText,
#bottomText {
  width: 250px;
  padding: 15px;
  border-radius: 5px;
  border-style: none;
  background-color: #e9f7ec;
}

@media only screen and (min-width: 500px) {
  #target {
    width: 100%;
  }
  .outputContent {
    width: 50%;
  }
  .memeText {
    font-size: 2em;
  }
}
