@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

.generateSection {
  text-align: center;
  padding-top: 2em;
}
#target {
  width: 50%;
}
.outputContent {
  position: relative;
  margin: 1em auto;
  width: 80%;
  text-align: center;
  display: flex;
  justify-content: center;
}
.memeText {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 2em;
  margin: 0;
  color: #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  padding: 0.5em;
}
.top {
  position: absolute;
  top: 1px;
}
.bottom {
  position: absolute;
  bottom: 1px;
}

@media only screen and (min-width: 500px) {
  #target {
    width: 40%;
  }
}
