.Search {
  margin: 0px;
  padding: 0px;
  align-content: center;
}

.title {
  margin: 0px;
  padding: 0px;
  padding-top: 55px;
  text-align: center;
}

.img-grid {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* 3 columns equal width */
  grid-gap: 40px;
}

.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
  background-size: cover;
}

.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: -30px;
  image-rendering: -moz-crisp-edges;
}

form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: #006400;
  color: white;
  border-radius: 8px;
}

form button {
  color: black;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;
}

form button:hover {
  background: #006400;
  color: white;
}
